################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Gepa/Gepa.Utilities/Gepa.Utilities/obj/Debug
