.account-buttons {
    position: absolute;
    border-radius: 50px;
    border: 0.5px solid #4cff00;
    width: 120px;
    margin: 0 10px;
    font-weight: 500;
    background-color: white;
    color: #5c5c3d;
}

    .account-buttons:hover {
        color: #8a8a5c;
        border: 1.5px solid #4cff00;
    }

#loginButton {
    right: 0;
}

#registerButton {
    right: 125px;
}

.gepa-features {
    margin: 5px 0;
}

    .gepa-features .row {
        border: 1px solid #4cff00;
        padding: 35px 20px;
        background-color: #eafff0;
        margin: 40px 0;
    }

        .gepa-features .row .col {
            text-align: justify;
        }

.gepa-features-img {
    width: 375px;
    height: 210px;
}

.gepaTitles {
    margin: 30px 0;
    color: #4cff00;
}

.gepaInputDate {
    text-align: center;
}

.gepaFormButtons {
    border-radius: 25px;
    width: 150px;
}

.connectButtons {
    width: 250px;
    border-radius: 25px;
    background-color: #d3ffe0;
    padding: 5px;
    border: 1px solid #bcffd0;
    margin: 0 5px;
}

    .connectButtons i {
        font-family: FontAwesome;
        font-style: normal;
        color: #B8B8B8;
    }

.gepaLogin {
    width: 700px;
    border: 1px solid #aeff8b;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 25px;
    margin-bottom: 75px;
}

.loginComponents {
    margin: 2.5px 0;
    width: 500px;
}

.loginLabels {
    margin: 2.5px 0 0 0;
}

.loginButton {
    width: 250px;
    padding: 10px;
    border: 1px solid #d3ffe0;
    border-radius: 25px;
    background-color: #aeff8b;
    font-weight: bold;
    color: #38381c;
}

.gepaLoginDivs {
    margin: 15px 0;
}

.displayInlineGrid {
    display: inline-grid;
}

.btnGepaCRUD {
    width: 125px;
    border-radius: 50px;
    padding: 2.5px;
    font-weight: 600;
    color: #267f00;
}

    .btnGepaCRUD:hover {
        background-color: #F2F2F2;
        color: #267f00;
    }

.btnSaveModals {
    background-color: #267f00 !important;
    border-color: #267f00;
}

    .btnSaveModals:hover {
        border-color: #67cc3c;
    }

.btnCancelModals {
    background-color: #bfbfbf !important;
    border-color: #bfbfbf;
    color: #5c5c3d;
}

    .btnCancelModals:hover {
        border-color: #989898;
        color: #5c5c3d;
    }

.btnModals {
    width: 150px;
    border-radius: 25px;
}

    .btnModals:hover {
        font-weight: bold;
    }

.classPlanFormArea {
    margin: 50px 0 50px 0;
}

.btnSubmitForms {
    background-color: #2d9900;
    color: white;
}

    .btnSubmitForms:hover {
        background-color: #aeff8b;
        color: #267f00;
    }

.icon {
    font-family: FontAwesome !important;
    font-style: normal !important;
}

.btnColapse {
    width: auto;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 400;
    color: #333333;
    background-color: #4cff00;
    margin-bottom: 10px;
    width: 200px;
}

    .btnColapse:hover {
        background-color: #aeff8b;
        color: #267f00;
    }

hr {
    background-color: #2d9900;
}

.gepa-form-controller {
    border: 1px solid #2d9900 !important;
    background-color: #f2fff6;
}

.link-row {
    cursor: pointer;
}

.noClassPlansMessage {
    text-align: center;
}

    .noClassPlansMessage h3 {
        margin: 125px 0;
        color: #79b261;
    }

.removeClassPlan {
    font-size: 20px;
}

    .removeClassPlan i {
        color: #f44b42;
    }

    .removeClassPlan:hover i {
        color: #808080;
    }

#classPlansTable th, #classPlansTable tr {
    text-align: center;
}

#classPlansTable, .noClassPlansMessage {
    width: 95%;
    margin: 30px auto;
}

.placeholderListGroup {
    margin: auto;
    color: #495057;
}

.alertPendencies {
    margin: 0 2px;
}

    .alertPendencies .chorePendencies {
        color: orange;
    }

    .alertPendencies .classGoalsPendencies {
        color: rebeccapurple;
    }

.gepa-table-search {
    width: 30%;
    margin: 0 auto;
}

.gepa-features-title{
    font-weight: bold;
    font-size: 18px;
}

.gepa-features-content {
    margin: 10px 0;
    font-size: 16px;
}

.gepa-features-content span{
    font-weight: bold;
}