
@{
    ViewBag.Title = "Painel do Administrador";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="jumbotron">
        <h3>Lista de Ações:</h3>
        <ul>
            <li><a href='@Url.Action("AllUsersListView","Admin")'>Visualizar todas as Contas</a></li>
            <li><a href='@Url.Action("GetManagementRolesView","Admin")'>Gerenciar papéis de usuários</a></li>
        </ul>
    </div>
</div>

